{% extends "base.html" %}
{% block content %}
			{% for blog_record in blog_records %}
				<!-- Post -->
				<div class="post">

					<!-- Post Details -->
					<div class="post_inf">

						<span>{{ blog_record.date_create }}</span><br />
						<!--span class="posn">Orchida</span><br /-->
						<!--a class="posc" href="article.html">3 Comments</a-->

					</div>

					<!-- Post Title - Permalink -->
					<h1>
						<a href="/blog/details/{{blog_record.id}}/">{{blog_record.title|truncatechars:20}}</a>
					</h1>

					<!-- Post Content -->
					<!--a class="pic_lnk" href="article.html"><img src="images/post_pic1.jpg" alt="post_pic1" /></a-->

					<p>{{blog_record.content|truncatechars:256}}</p>

				</div>
				{% endfor %}

		
				<!-- Pagination -->	
				<div class="pagination">				
			
					{% if page_id %}<a style = "width: 100px;" class="prev" href="/blog/{{preiv_page}}/">&laquo;Previous</a>{% endif %}
					{% if next_page %}<a class="next" href="/blog/{{next_page}}/">Next&raquo;</a>{% endif %}

				</div>
{% endblock %}


